* {
	margin: 0;
	padding: 0;
}


body {
}

/* --------------------------------------SECTION 1 ------------------------------------------------*/
.header {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(to bottom, #3c2ecc 0%, #7db9e8 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(to bottom, #3c2ecc 0%,#7db9e8 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #3c2ecc 0%,#7db9e8 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c2ecc', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	color: #cbced3;
	font-family: "Bookman";
}

	.header a {
		text-decoration: none;
		color: #cbced3;
	}

	.container1 {
		margin: 0 auto;
		width: 415px;
	}
	.title {
		text-align: center;
	}
	.container1 div {
		padding: 0 20px;
		padding-top: 30px;
	}

	.container1 > .listItems > p {
		display: inline-block;
		padding: 10px 15px;
	}

	.colTitle { 
		font-weight: 200;
		font-size: 300%;
	}

	.colLink {
		font-size: 140%;
		cursor: pointer;
	}

	.headerMsg {
		font-size: 200%;
		color: white;
	}

	.header > .container2 {
		margin: 0 auto;
		width: 300px;
		margin-top: 130px;
		padding-bottom: 80px;
	}



	/* --------------------------------------  END OF SECTION 1 --------------------------------------------*/ 


	/*-----------------------------------SECTION 2 ----------------------------------------------------*/

	.list {
		width: 550px;
		margin: 0 auto;

	}

	.list > section {
		display: inline-block;
		padding: 0 30px; 
	}

	.listItem > p{
		display: block;
		padding-top: 20px;
		color: #72757c;
		text-align: center;
	}

	.listImage {
		height: 120px;
		width: 120px;
		padding-bottom: 10px;
	}

	.mobSection {
		display: none;
	}


/*--------------------------------------END OF SECTION 2 ------------------------------------------------*/


/*---------------------------- Glyphicon and Form ------------------------------------------------*/

.addButton {
	position: fixed;
	bottom: 10px;
	left: 10px;
	cursor: pointer;
	border-radius: 50%;
	border: 10px solid #2b5aa5;
	background-color: #2b5aa5;
}
.glyphicon {
	font-size: 25px; 
	color: white;
}

form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;
	display: none;
	background-color: white;
	overflow: hidden;
	width: 300px;	
	color: #206487;
	transition: 0.5s linear;
}

.form > fieldset {
	margin: 0;
	padding: 0;
}
.imgAdd {
	background: #e5e5e5;
}
.imgAdd input  {
	font-size: 12px;
}
.imgAdd button {
	font-size: 16px;
	background: linear-gradient(#49708f, #293f50);
  	border: 0;
 	color: #fff;
 	padding: 6px 12px;
}
.imgAdd input {
	display: inline-block;
	padding: 5px 0;
}
.imgAdd div {
	margin: 15px 0;
}
.imgAdd >  .addBtn {
	margin-bottom: 0;
}
.itemAdd input, .desAdd input {
	border-radius: 5px;
}
.addItem {
	border: 1px solid black;
	border-radius: 10px;
}

.addItem > div {
	padding: 20px 15px;
}



/*-----------------------------------------RESPONSIVE------------------------------------------------------------*/

@media screen and (max-width: 768px) {

	.container2  {
		display: none;
	}

	.container1 {
		margin: 0 0;
		width: 100%;
	}

	.container1 > .listItems {
		padding-bottom: 30px;
	}
	.container1 > .listItems > p {
		display: block;
		margin: 0 ;
		padding: 20px 20px;
		text-align: center;
	}

	
	/*---------HEADER DONE---------------------*/

	.list {
		margin: 0 0;
		width: 100%;	
	}

	.list > section {
		display: block;
	}

	.mobSection {
		width: 100%;
		height: 1px;
		background: black;
		display: block;
		margin: 0;
		margin-top: 20px;
	}
}


