* {
	margin: 0;
	padding: 0;
}


body {

}

/* --------------------------------------SECTION 1 ------------------------------------------------*/
.header {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(to bottom, #3c2ecc 0%, #7db9e8 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(to bottom, #3c2ecc 0%,#7db9e8 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #3c2ecc 0%,#7db9e8 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c2ecc', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	color: #cbced3;
	font-family: "Bookman";
}

	.header a {
		text-decoration: none;
		color: #cbced3;
	}

	.container1 {
		margin: 0 auto;
		width: 768px;
	}

	.container1 > p {
		display: inline-block;
		padding: 0 20px;
		margin-top: 30px;
	}

	.colTitle { 
		font-weight: 200;
		font-size: 300%;
		margin-right: 80px;
	}

	.colLink {
		font-size: 140%;
		cursor: pointer;
	}

	.headerMsg {
		font-size: 200%;
		color: white;
	}

	.header > .container2 {
		margin: 0 auto;
		width: 300px;
		margin-top: 130px;
		padding-bottom: 80px;
	}



	/* --------------------------------------  END OF SECTION 1 --------------------------------------------*/ 


	/*-----------------------------------SECTION 2 ----------------------------------------------------*/

	.list {
		width: 550px;
		margin: 0 auto;

	}

	.list > section {
		display: inline-block;
		padding: 0 30px; 
	}

	.listItem > p{
		display: block;
		padding-top: 20px;
		color: #72757c;
		text-align: center;
	}

	.listImage {
		height: 120px;
		width: 120px;
		padding-bottom: 10px;
	}


/*--------------------------------------END OF SECTION 2 ------------------------------------------------*/

/*-----------------------------------------RESPONSIVE------------------------------------------------------------*/

@media screen and (max-width: 768px) {

	.container2  {
		display: none;
	}

	.container1 {
		margin: 0 0;
		width: 100%;
	}

	.container1 > p {
		display: block;
		margin: 0 ;
		padding: 20px 20px;
		text-align: center;
	}

	
	/*---------HEADER DONE---------------------*/

	.list {
		margin: 0 0;
		width: 100%;	
	}

	.list > section {
		display: block;
	}


}


